# Files
*.egg-info
*.pyc
*.tmp_profiler_run
.vscode
html
examples/azmuthal_hvsrpy_interface.ipynb
examples/spatial_hvsrpy_interface.ipynb

# Folders
.ipynb_checkpoints
__pycache__
dist
build
.tox
scratch
env
