# Files
*.egg-info
*.pyc
*.tmp_profiler_run
.vscode
html
/examples/data/example_mhvsr_io.csv
/examples/data/preprocess.json
/examples/data/process.json
/examples/data/UT*.png
/examples/data/UT*.csv

# Folders
.ipynb_checkpoints
__pycache__
dist
build
.tox
scratch
env
test/.coverage
test/htmlcov
