[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hvsrpy = {editable = true, path = "."}
tox = "*"
jupyterlab = "*"
matplotlib = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
